* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-primary-color: whitesmoke;
    --text-secondary-color: gray;
    color: var(--text-primary-color);

    --background-color: #181818;
    --primary-color: blue;
    --secondary-color: #2a2a2a;
}

html {
    scroll-behavior: auto;
    scroll-padding-top: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style-type: none;
}

ol > li {
    list-style: decimal;
}

ul { 
    padding-left: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.5rem;
}

nav {
    width: 100%;
    height: 5vh;
    z-index: 2;
    
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

nav > ul {
    margin: auto;
    height: 100%;
    display: flex;
    gap: 4rem;
}

nav > ul > li {
    height: 100%;
    display: flex;
    align-items: center;
}

.light-shadow {
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.2);
}

.underline-dots {
    text-decoration: underline dotted;
}

.light-text {
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
}

.skill-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.5rem;
}

.hoverable-text {
    color: var(--text-primary-color);
    transition: color 0.25s ease;
}

.hoverable-text:hover {
    color: var(--text-secondary-color);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(24, 24, 24);
}

/* TODO: Give tailpipe hide functionality and remove these. */
@media (max-width: 768px) {
    .m\:hide {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .t\:hide {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 3840px) {
    .c\:hide {
        display: none;
    }
}

@media (min-width: 3840px) {
    .uw\:hide {
        display: none;
    }
}