@font-face {
  font-family: 'Libre_Baskerville';
  src: url('/Libre_Baskerville/LibreBaskerville-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  /* Hide the text until the font is loaded to prevent a flash of unstyled text. */
  /* font-display: block; */
}

* {
    box-sizing: border-box;
}

:root {
    --text-primary-color: #cfcfcf;
    --text-secondary-color: gray;

    --primary-background-color: #292929;
    --secondary-background-color: #4d5156;
    --primary-color: blue;
}

html {
    scroll-behavior: auto;
    scroll-padding-top: 2rem;
    font-family: 'Libre_Baskerville', serif;
}

a {
    color: var(--text-primary-color);
    transition: color 0.15s ease;
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    background-color: var(--primary-background-color);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-primary-color);
}

li {
    list-style-type: none;
}

ol {
    padding: 0;
}

ol > li {
    list-style: decimal;
}

ul { 
    padding-left: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.5rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(207, 207, 207, 0), rgba(207, 207, 207, 0.75), rgba(207, 207, 207, 0));
}

main {
    max-width: 800px;
    margin: auto;
}

nav {
    position: sticky;
    z-index: 2;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.2);
}

nav > ul {
    margin: auto;
}

section {
    padding: 1rem 0;
}

.underline-dots {
    text-decoration: underline dotted;
}

.light-text {
    font-weight: 200;
    font-style: normal;
}

.skill-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.5rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(24, 24, 24);
}

.dot {
    list-style-type: circle;
    list-style-position: inside;
}

.checkbox-list-item {
    list-style-type: none;
    margin-left: 1.5rem;
}

input {
    font-family: "Libre_Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input[type=checkbox] {
    width: 1rem;
    height: 1rem;
}

input[type=search] {
    width: 100%;
    height: 2rem;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
    border: none;
    color: var(--text-primary-color);
    font-size: 1rem;
    padding-left: 0.5rem;
}

.searchable-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchable-list a {
    text-decoration: none;
}

/* Mobile */
@media (max-width: 768px) {
    :root {
        font-size: 18px;
    }
    
    main {
        width: 90%;
    }

    nav {
        height: 2rem;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        font-size: 20px;
    }
}

/* Computer */
@media (min-width: 1024px) and (max-width: 3840px) {
    :root {
        font-size: 24px;
    }
}

/* Ultrawide monitor */
@media (min-width: 3840px) {
    :root {
        font-size: 26px;
    }
}