* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-primary-color: whitesmoke;
    --text-secondary-color: gray;
    color: var(--text-primary-color);

    --background-color: rgba(13, 17, 23);
    --primary-color: blue;
    --secondary-color: #2a2a2a;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style-type: none;
}

main {
    width: 100%;
}


section {
    min-height: 80vh;
}

ul { 
    padding-left: 0;
}

.skill-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.5rem;
}

.work-card {
    min-height: 12rem;
}

/* Desktop */
@media (min-width: 1024px) {
    .mobile  { display: none;    }
    .tablet  { display: none;    }
    .desktop { display: inherit; }

    :root {
        font-size: 18px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .mobile  { display: none;    }
    .tablet  { display: inherit; }
    .desktop { display: none;    }

    :root {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .mobile  { display: inherit; }
    .tablet  { display: none;    }
    .desktop { display: none;    }

    :root {
        font-size: 14px;
    }
}

/** Tailwind Lite **/

/* Margin */
.m-0 { margin: 0; }

.m-0-25rem { margin: 0.25rem; }
.m-0-5rem  { margin: 0.5rem;  }
.m-1rem    { margin: 1rem;    }
.m-2rem    { margin: 2rem;    }
.m-3rem    { margin: 3rem;    }
.m-4rem    { margin: 4rem;    }
.m-5rem    { margin: 5rem;    }
.m-6rem    { margin: 6rem;    }
.m-7rem    { margin: 7rem;    }
.m-8rem    { margin: 8rem;    }
.m-9rem    { margin: 9rem;    }
.m-10rem   { margin: 10rem;   }
.m-11rem   { margin: 11rem;   }
.m-12rem   { margin: 12rem;   }

.mt-0-25rem { margin-top: 0.25rem; }
.mt-0-5rem  { margin-top: 0.5rem;  }
.mt-1rem    { margin-top: 1rem;    }
.mt-2rem    { margin-top: 2rem;    }
.mt-3rem    { margin-top: 3rem;    }
.mt-4rem    { margin-top: 4rem;    }
.mt-5rem    { margin-top: 5rem;    }
.mt-6rem    { margin-top: 6rem;    }
.mt-7rem    { margin-top: 7rem;    }
.mt-8rem    { margin-top: 8rem;    }
.mt-9rem    { margin-top: 9rem;    }
.mt-10rem   { margin-top: 10rem;   }
.mt-11rem   { margin-top: 11rem;   }
.mt-12rem   { margin-top: 12rem;   }

.mb-0-25rem { margin-bottom: 0.25rem; }
.mb-0-5rem  { margin-bottom: 0.5rem;  }
.mb-1rem    { margin-bottom: 1rem;    }
.mb-2rem    { margin-bottom: 2rem;    }
.mb-3rem    { margin-bottom: 3rem;    }
.mb-4rem    { margin-bottom: 4rem;    }
.mb-5rem    { margin-bottom: 5rem;    }
.mb-6rem    { margin-bottom: 6rem;    }
.mb-7rem    { margin-bottom: 7rem;    }
.mb-8rem    { margin-bottom: 8rem;    }
.mb-9rem    { margin-bottom: 9rem;    }
.mb-10rem   { margin-bottom: 10rem;   }
.mb-11rem   { margin-bottom: 11rem;   }
.mb-12rem   { margin-bottom: 12rem;   }

.ml-0-25rem { margin-left: 0.25rem; }
.ml-0-5rem  { margin-left: 0.5rem;  }
.ml-1rem    { margin-left: 1rem;    }
.ml-2rem    { margin-left: 2rem;    }
.ml-3rem    { margin-left: 3rem;    }
.ml-4rem    { margin-left: 4rem;    }
.ml-5rem    { margin-left: 5rem;    }
.ml-6rem    { margin-left: 6rem;    }
.ml-7rem    { margin-left: 7rem;    }
.ml-8rem    { margin-left: 8rem;    }
.ml-9rem    { margin-left: 9rem;    }
.ml-10rem   { margin-left: 10rem;   }
.ml-11rem   { margin-left: 11rem;   }
.ml-12rem   { margin-left: 12rem;   }

.mr-0-25rem { margin-right: 0.25rem; }
.mr-0-5rem  { margin-right: 0.5rem;  }
.mr-1rem    { margin-right: 1rem;    }
.mr-2rem    { margin-right: 2rem;    }
.mr-3rem    { margin-right: 3rem;    }
.mr-4rem    { margin-right: 4rem;    }
.mr-5rem    { margin-right: 5rem;    }
.mr-6rem    { margin-right: 6rem;    }
.mr-7rem    { margin-right: 7rem;    }
.mr-8rem    { margin-right: 8rem;    }
.mr-9rem    { margin-right: 9rem;    }
.mr-10rem   { margin-right: 10rem;   }
.mr-11rem   { margin-right: 11rem;   }
.mr-12rem   { margin-right: 12rem;   }

.mx-0-25rem { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-0-5rem  { margin-left: 0.5rem;  margin-right: 0.5rem;  }
.mx-1rem    { margin-left: 1rem;    margin-right: 1rem;    }
.mx-2rem    { margin-left: 2rem;    margin-right: 2rem;    }
.mx-3rem    { margin-left: 3rem;    margin-right: 3rem;    }
.mx-4rem    { margin-left: 4rem;    margin-right: 4rem;    }
.mx-5rem    { margin-left: 5rem;    margin-right: 5rem;    }
.mx-6rem    { margin-left: 6rem;    margin-right: 6rem;    }
.mx-7rem    { margin-left: 7rem;    margin-right: 7rem;    }
.mx-8rem    { margin-left: 8rem;    margin-right: 8rem;    }
.mx-9rem    { margin-left: 9rem;    margin-right: 9rem;    }
.mx-10rem   { margin-left: 10rem;   margin-right: 10rem;   }
.mx-11rem   { margin-left: 11rem;   margin-right: 11rem;   }
.mx-12rem   { margin-left: 12rem;   margin-right: 12rem;   }

.my-0-25rem { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-0-5rem  { margin-top: 0.5rem;  margin-bottom: 0.5rem;  }
.my-1rem    { margin-top: 1rem;    margin-bottom: 1rem;    }
.my-2rem    { margin-top: 2rem;    margin-bottom: 2rem;    }
.my-3rem    { margin-top: 3rem;    margin-bottom: 3rem;    }
.my-4rem    { margin-top: 4rem;    margin-bottom: 4rem;    }
.my-5rem    { margin-top: 5rem;    margin-bottom: 5rem;    }
.my-6rem    { margin-top: 6rem;    margin-bottom: 6rem;    }
.my-7rem    { margin-top: 7rem;    margin-bottom: 7rem;    }
.my-8rem    { margin-top: 8rem;    margin-bottom: 8rem;    }
.my-9rem    { margin-top: 9rem;    margin-bottom: 9rem;    }
.my-10rem   { margin-top: 10rem;   margin-bottom: 10rem;   }
.my-11rem   { margin-top: 11rem;   margin-bottom: 11rem;   }
.my-12rem   { margin-top: 12rem;   margin-bottom: 12rem;   }

/* Padding */

.p-0 { padding: 0; }
.p-1 { padding: 1%; }
.p-2 { padding: 2%; }
.p-3 { padding: 3%; }
.p-4 { padding: 4%; }
.p-5 { padding: 5%; }
.p-6 { padding: 6%; }
.p-7 { padding: 7%; }
.p-8 { padding: 8%; }
.p-9 { padding: 9%; }
.p-10 { padding: 10%; }
.p-11 { padding: 11%; }
.p-12 { padding: 12%; }
.p-16 { padding: 16%; }
.p-20 { padding: 20%; }
.p-24 { padding: 24%; }
.p-32 { padding: 32%; }
.p-48 { padding: 48%; }
.p-64 { padding: 64%; }

.p-0-25rem { padding: 0.25rem; }
.p-0-5rem { padding: 0.5rem; }
.p-1rem { padding: 1rem; }
.p-2rem { padding: 2rem; }
.p-3rem { padding: 3rem; }
.p-4rem { padding: 4rem; }
.p-5rem { padding: 5rem; }
.p-6rem { padding: 6rem; }
.p-7rem { padding: 7rem; }
.p-8rem { padding: 8rem; }
.p-9rem { padding: 9rem; }
.p-10rem { padding: 10rem; }
.p-11rem { padding: 11rem; }
.p-12rem { padding: 12rem; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-4 { padding-top: 1rem; }
.pt-8 { padding-top: 2rem; }
.pt-16 { padding-top: 4rem; }
.pt-32 { padding-top: 8rem; }
.pt-64 { padding-top: 16rem; }
.pt-128 { padding-top: 32rem; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-8 { padding-bottom: 2rem; }
.pb-16 { padding-bottom: 4rem; }
.pb-32 { padding-bottom: 8rem; }
.pb-64 { padding-bottom: 16rem; }
.pb-128 { padding-bottom: 32rem; }
.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-4 { padding-left: 1rem; }
.pl-8 { padding-left: 2rem; }
.pl-16 { padding-left: 4rem; }
.pl-32 { padding-left: 8rem; }
.pl-64 { padding-left: 16rem; }
.pl-128 { padding-left: 32rem; }
.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-4 { padding-right: 1rem; }
.pr-8 { padding-right: 2rem; }
.pr-16 { padding-right: 4rem; }
.pr-32 { padding-right: 8rem; }
.pr-64 { padding-right: 16rem; }
.pr-128 { padding-right: 32rem; }

.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.px-8 { padding-left: 2rem; padding-right: 2rem; }
.px-16 { padding-left: 4rem; padding-right: 4rem; }
.px-32 { padding-left: 8rem; padding-right: 8rem; }
.px-64 { padding-left: 16rem; padding-right: 16rem; }
.px-128 { padding-left: 32rem; padding-right: 32rem; }

.px-5 { padding-left: 5%; padding-right: 5%; }
.px-10 { padding-left: 10%; padding-right: 10%; }
.px-15 { padding-left: 15%; padding-right: 15%; }
.px-20 { padding-left: 20%; padding-right: 20%; }
.px-25 { padding-left: 25%; padding-right: 25%; }
.px-30 { padding-left: 30%; padding-right: 30%; }
.px-35 { padding-left: 35%; padding-right: 35%; }
.px-40 { padding-left: 40%; padding-right: 40%; }
.px-45 { padding-left: 45%; padding-right: 45%; }
.px-50 { padding-left: 50%; padding-right: 50%; }
.px-55 { padding-left: 55%; padding-right: 55%; }
.px-60 { padding-left: 60%; padding-right: 60%; }
.px-65 { padding-left: 65%; padding-right: 65%; }
.px-70 { padding-left: 70%; padding-right: 70%; }
.px-75 { padding-left: 75%; padding-right: 75%; }
.px-80 { padding-left: 80%; padding-right: 80%; }
.px-85 { padding-left: 85%; padding-right: 85%; }
.px-90 { padding-left: 90%; padding-right: 90%; }
.px-95 { padding-left: 95%; padding-right: 95%; }
.px-100 { padding-left: 100%; padding-right: 100%; }

.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }
.py-8 { padding-top: 2rem; padding-bottom: 2rem; }
.py-16 { padding-top: 4rem; padding-bottom: 4rem; }
.py-32 { padding-top: 8rem; padding-bottom: 8rem; }
.py-64 { padding-top: 16rem; padding-bottom: 16rem; }
.py-128 { padding-top: 32rem; padding-bottom: 32rem; }

.p-2px  { padding: 2px;  }
.p-4px  { padding: 4px;  }
.p-8px  { padding: 8px;  }
.p-16px { padding: 16px; }
.p-20px { padding: 20px; }
.p-24px { padding: 24px; }
.p-32px { padding: 32px; }
.p-48px { padding: 48px; }
.p-64px { padding: 64px; }

/* Width */
.w-0   { width: 0;    }
.w-5   { width: 5%;   }
.w-10  { width: 10%;  }
.w-20  { width: 20%;  }
.w-25  { width: 25%;  }
.w-30  { width: 30%;  }
.w-50  { width: 50%;  }
.w-60  { width: 60%;  }
.w-70  { width: 70%;  }
.w-75  { width: 75%;  }
.w-80  { width: 80%;  }
.w-85  { width: 85%;  }
.w-90  { width: 90%;  }
.w-95  { width: 95%;  }
.w-100 { width: 100%; }

.w-10px { width: 10px; }
.w-20px { width: 20px; }
.w-30px { width: 30px; }
.w-40px { width: 40px; }
.w-50px { width: 50px; }
.w-60px { width: 60px; }
.w-70px { width: 70px; }
.w-80px { width: 80px; }
.w-90px { width: 90px; }
.w-100px { width: 100px; }

.min-w-0   { min-width: 0;    }
.min-w-5   { min-width: 5%;   }
.min-w-10  { min-width: 10%;  }
.min-w-20  { min-width: 20%;  }
.min-w-25  { min-width: 25%;  }
.min-w-30  { min-width: 30%;  }
.min-w-50  { min-width: 50%;  }
.min-w-60  { min-width: 60%;  }
.min-w-70  { min-width: 70%;  }
.min-w-75  { min-width: 75%;  }
.min-w-80  { min-width: 80%;  }
.min-w-85  { min-width: 85%;  }
.min-w-90  { min-width: 90%;  }
.min-w-95  { min-width: 95%;  }
.min-w-100 { min-width: 100%; }

.max-w-0   { max-width: 0;    }
.max-w-5   { max-width: 5%;   }
.max-w-10  { max-width: 10%;  }
.max-w-20  { max-width: 20%;  }
.max-w-25  { max-width: 25%;  }
.max-w-30  { max-width: 30%;  }
.max-w-50  { max-width: 50%;  }
.max-w-60  { max-width: 60%;  }
.max-w-70  { max-width: 70%;  }
.max-w-75  { max-width: 75%;  }
.max-w-80  { max-width: 80%;  }
.max-w-85  { max-width: 85%;  }
.max-w-90  { max-width: 90%;  }
.max-w-95  { max-width: 95%;  }
.max-w-100 { max-width: 100%; }

/* Height */
.h-5 { height: 5%; }
.h-10 { height: 10%; }
.h-15 { height: 15%; }
.h-20 { height: 20%; }
.h-25 { height: 25%; }
.h-30 { height: 30%; }
.h-35 { height: 35%; }
.h-40 { height: 40%; }
.h-45 { height: 45%; }
.h-50 { height: 50%; }
.h-55 { height: 55%; }
.h-60 { height: 60%; }
.h-65 { height: 65%; }
.h-70 { height: 70%; }
.h-75 { height: 75%; }
.h-80 { height: 80%; }
.h-85 { height: 85%; }
.h-90 { height: 90%; }
.h-95 { height: 95%; }
.h-100 { height: 100%; }
.w-10rem { width: 10rem; }
.h-10rem { height: 10rem; }

.min-w-100 { min-width: 100%; }
.min-h-100 { min-height: 100%; }

.vw-10 { width: 10vw; }
.vw-20 { width: 20vw; }
.vw-25 { width: 25vw; }
.vw-30 { width: 30vw; }
.vw-40 { width: 40vw; }
.vw-50 { width: 50vw; }
.vw-60 { width: 60vw; }
.vw-70 { width: 70vw; }
.vw-75 { width: 75vw; }
.vw-80 { width: 80vw; }
.vw-90 { width: 90vw; }
.vw-100 { width: 100vw; }
.vh-10 { height: 10vh; }
.vh-20 { height: 20vh; }
.vh-25 { height: 25vh; }
.vh-30 { height: 30vh; }
.vh-40 { height: 40vh; }
.vh-50 { height: 50vh; }
.vh-60 { height: 60vh; }
.vh-70 { height: 70vh; }
.vh-75 { height: 75vh; }
.vh-80 { height: 80vh; }
.vh-90 { height: 90vh; }
.vh-100 { height: 100vh; }

.rounded { border-radius: 8px; }
.shadow { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); }
.light-shadow { box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.2); }

/* Font size */
.fs-0-25rem { font-size: 0.25rem; }
.fs-0-5rem  { font-size: 0.5rem;  }
.fs-0-75rem { font-size: 0.75rem; }
.fs-1rem    { font-size: 1rem;    }
.fs-1-5rem  { font-size: 1.5rem;  }
.fs-2rem    { font-size: 2rem;    }
.fs-3rem    { font-size: 3rem;    }
.fs-4rem    { font-size: 4rem;    }
.fs-5rem    { font-size: 5rem;    }
.fs-6rem    { font-size: 6rem;    }

/* Text */
.underline-dots { text-decoration: underline dotted; }

/* Flexbox */
.flex { display: flex; }
.row    { flex-direction: row;    }
.column { flex-direction: column; }
.flex-center { align-items: center; justify-content: center; }
.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-evenly { justify-content: space-evenly; }

/* Grid */
.grid { display: grid; }

.grid-col-2  { grid-template-columns: repeat(2, 1fr);  }
.grid-col-3  { grid-template-columns: repeat(3, 1fr);  }
.grid-col-4  { grid-template-columns: repeat(4, 1fr);  }
.grid-col-5  { grid-template-columns: repeat(5, 1fr);  }
.grid-col-6  { grid-template-columns: repeat(6, 1fr);  }
.grid-col-7  { grid-template-columns: repeat(7, 1fr);  }
.grid-col-8  { grid-template-columns: repeat(8, 1fr);  }
.grid-col-9  { grid-template-columns: repeat(9, 1fr);  }
.grid-col-10 { grid-template-columns: repeat(10, 1fr); }
.grid-col-11 { grid-template-columns: repeat(11, 1fr); }
.grid-col-12 { grid-template-columns: repeat(12, 1fr); }

.grid-row-2  { grid-template-rows: repeat(2, 1fr);  }
.grid-row-3  { grid-template-rows: repeat(3, 1fr);  }
.grid-row-4  { grid-template-rows: repeat(4, 1fr);  }
.grid-row-5  { grid-template-rows: repeat(5, 1fr);  }
.grid-row-6  { grid-template-rows: repeat(6, 1fr);  }
.grid-row-7  { grid-template-rows: repeat(7, 1fr);  }
.grid-row-8  { grid-template-rows: repeat(8, 1fr);  }
.grid-row-9  { grid-template-rows: repeat(9, 1fr);  }
.grid-row-10 { grid-template-rows: repeat(10, 1fr); }
.grid-row-11 { grid-template-rows: repeat(11, 1fr); }
.grid-row-12 { grid-template-rows: repeat(12, 1fr); }

/* Gap */
.gap-1rem { gap: 1rem; }
.gap-2rem { gap: 2rem; }
.gap-3rem { gap: 3rem; }
.gap-4rem { gap: 4rem; }
.gap-8rem { gap: 8rem; }
.gap-16rem { gap: 16rem; }
.gap-32rem { gap: 32rem; }
.gap-64rem { gap: 64rem; }

/* Color */
.c-primary { background-color: var(--primary-color); }
.c-secondary { background-color: var(--secondary-color); }
.c-bg { background-color: var(--background-color); }
.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.purple { background-color: purple; }

/* Z-index */
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

/* Positioning */
.relative { position: relative; }
.sticky {
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.hoverable-text {
    color: var(--text-primary-color);
    transition: color 0.25s ease;
}

.hoverable-text:hover {
    color: var(--text-secondary-color);
}

.light-text {
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
}

/* Text examples */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}
  